@* @* @model Tuple<
    List<yogago.Models.Subsecrebtions>,
    List<yogago.Models.Profits>,
    List<yogago.Models.classinfo>
     > *@
@{   
    Layout = "~/Views/Shared/_Admin.cshtml";

}

@* 

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <div class="row">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white me-2">
                        <i class="badge badge-gradient-warning"></i>
                    </span> Reports
                </h3>
            </div>
        </div>




        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Subscriptions</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>


                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>  Date   </th>
                                        <th> Response</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@item.Name</td>

                                            <td>@item.Contact.Email</td>
                                            <td>@item.Contact.Subject</td>
                                            <td>@item.Contact.Message</td>

                                            <td>@item.Contact.Submitteddate?.ToString("yyyy-MM-dd")</td>
                                            <td>
                                               
                                                <form asp-controller="Admin" asp-action="Contact" method="post">
                                                    <input type="hidden" name="contactId" value="@item.Contact.Contactid" />
                                                    <textarea name="Response" class="form-control" placeholder="Enter your response" required></textarea>
                                                    <span asp-validation-for="@item.Response" class="text-danger"></span>

                                                    <button type="submit" class="btn btn-outline-primary btn-sm ">Send</button>

                                                </form>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     </div> *@














