@model IEnumerable<yogago.Models.Homemanagementimg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imgname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imgpath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imgname)
            </td>
            <td>

                    @if (!string.IsNullOrEmpty(item.Imgpath))
                    {
                        <img src="@item.Imgpath" alt="IMG of @item.Imgname" class="profile-picture" />
                    }
                    else
                    {
                        <img src="/path/to/placeholder.jpg" alt="Default Profile Picture" class="profile-picture" />
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Imgid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Imgid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Imgid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
